{% extends 'bootstrap/base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block scripts%}
    {{ super() }}    
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
{% endblock %}

{% block head%}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
{% endblock %}

{% block title%}
    {{ super() }}    

    {% if title %}
        
    {% else %}
        TreNews
    {% endif %}
    

{% endblock %}


<!-- Navbar block  --> 
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
