


<div class="container-fluid">
  <div class="row">
     <!--Sidenav-->
     <div class="col-xs-12 col-md-3">
      <div class="jumbotron jumbotron1">
          <!--The app title/Name-->
          <div class="row">
              <div class="col-xs-12 brand">
                  <a href="/"><h1>TreNews</h1></a>
              </div>
          </div>
          <!--The Date-->
          <div class="row border-b">
              <div class="col-xs-12 date">
                  <p id="date"></p>
                  <p id="time"></p>
              </div>
          </div>
 


  </div>
</div>