<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><a href="/"><h1><span class="T">T</span><span class="r">r</span><span class="e">eNews</span></h1></a></a>

      <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><a href="/"><h1><span class="T">T</span><span class="r">r</span><span class="e">eNews</span></h1></a></a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/">Breaking News</a></li>
              <li><a href="/">Topics</a></li>
              <li><a href="/">Sources</a></li>
              <li><a href="/">Countries</a></li>
      </div> -->
  </div>
</div>